h1 {
  display: inline;
  font-size: 300%; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-size: 500%; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 900%;
      margin-bottom: 10%; } }

/* Estilos del header */
.logo {
  width: 0px; }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 75px;
      padding-left: 1%;
      filter: drop-shadow(2px 2px 4px white); } }

header {
  width: 90%;
  grid-area: header;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font-family: 'Woodland', sans-serif;
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url("../imagenes/Paleta.png");
  background-size: cover;
  background-position: center;
  text-shadow: 3px 3px 4px white; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 1024px) {
      header nav {
        display: block;
        text-align: center; } }
  header ul {
    justify-content: center;
    width: 70%;
    display: flex;
    list-style: none;
    font-size: 130%;
    white-space: nowrap;
    flex-shrink: 0.3;
    margin: auto; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      header ul {
        font-size: 200%; } }
    @media screen and (min-width: 1024px) {
      header ul {
        margin: auto;
        list-style: none;
        font-size: 250%; } }
    header ul li {
      display: inline;
      padding: 0% 2%;
      border-right: solid 1px; }
      header ul li:hover {
        font-size: 102%;
        text-shadow: 7px 7px 5px white; }
      @media screen and (min-width: 1024px) {
        header ul li {
          display: inline-block;
          padding: 0% 4%;
          border-right: solid; } }
  @media screen and (min-width: 1024px) {
    header {
      grid-area: header;
      padding-top: 1%;
      text-align: center;
      font-family: 'Woodland', sans-serif;
      background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url("../imagenes/Paleta.png");
      background-size: cover;
      background-position: center;
      text-shadow: 3px 3px 4px white; } }

.lista--ultimoElemento {
  border-right: none; }

.obra__logo:hover {
  text-shadow: 5px 5px 4px white;
  filter: drop-shadow(5px 5px 4px white); }

footer {
  grid-area: footer;
  padding-top: 5%;
  background: linear-gradient(0deg, rgba(9, 1, 80, 0.5), rgba(9, 1, 80, 0.5), rgba(9, 1, 80, 0.35), rgba(9, 1, 80, 0), rgba(9, 1, 80, 0));
  background-size: cover;
  background-position: center;
  align-items: center; }
  footer p {
    padding-left: 5%;
    padding-bottom: 1%; }
  footer span {
    padding-right: 2%;
    justify-items: right; }
    footer span a {
      padding: 4px; }

@keyframes pinturas {
  from {
    background-size: 35%; }
  to {
    background-size: 37%; } }

@keyframes pinceles {
  from {
    background-size: 25%; }
  to {
    background-size: 30%; } }

#obra-desayuno {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), white), url("../imagenes/Desayuno-sin-bordes.jpeg");
  background-size: cover;
  background-position: center; }

#obra-festejo {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), white), url("../imagenes/Festejo-sin-bordes.jpeg");
  background-size: cover;
  background-position: center; }

#obra-molino {
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.75), white), url("../imagenes/Molino-sin-bordes.jpeg");
  background-size: cover;
  background-position: center; }

/* Estilos links */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85); }
  a:hover {
    color: rgba(0, 0, 0, 0.85); }

/* Estilos generales de articulos */
article {
  font-family: 'Hubballi', cursive;
  font-size: 150%;
  width: 100%;
  margin: auto;
  text-align: center; }
  article h3 {
    padding: 50px;
    font-family: 'Woodland', cursive;
    font-size: 180%;
    text-shadow: 1px 1px 2px white;
    display: inline;
    background-image: url(../imagenes/Pincelada-Naranja.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap; }
  article h2 {
    font-family: 'Woodland', cursive;
    font-size: 550%; }
  article h4 {
    font-family: 'Woodland', cursive;
    font-size: 90%;
    text-shadow: 2px 2px 5px #757575; }
    @media screen and (min-width: 1024px) {
      article h4 {
        font-size: 150%; } }

/* Estilos index (presentacion) */
.obra__index {
  padding-top: 25%;
  padding-bottom: 30%;
  width: 100%;
  margin: auto; }
  .obra__index h3 {
    background-image: none; }

.obra__cuadro {
  padding: 0%;
  margin: auto;
  padding-bottom: 7%;
  transition: width 5s, margin 5s, padding 5s; }
  .obra__cuadro:active {
    width: 100%;
    padding: 0%; }
  @media screen and (min-width: 1024px) {
    .obra__cuadro {
      padding: 10%; } }

.obra__curlyBracket {
  width: 35%;
  padding-bottom: 20px;
  margin: auto; }

.obra__descripcion {
  padding: 2% 25%;
  text-align: center; }
  .obra__descripcion p {
    font-size: 80%;
    padding-top: 3%; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .obra__descripcion p {
        font-size: 100%; } }
    @media screen and (min-width: 1024px) {
      .obra__descripcion p {
        font-size: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .obra__descripcion h3 {
      font-size: 205%; } }
  @media screen and (min-width: 1024px) {
    .obra__descripcion h3 {
      font-size: 205%; } }
  @media screen and (min-width: 1024px) {
    .obra__descripcion {
      margin: auto;
      display: block;
      text-align: center; } }

/* Estilos sobreMi.html */
#articulo__sobreMi {
  padding-bottom: 30%;
  background-image: url(../imagenes/pinceles.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: bottom left;
  border-top: groove 4px;
  border-bottom: groove 4px;
  animation: pinceles 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }
  #articulo__sobreMi h2 {
    padding-top: 10%;
    padding-bottom: 15%;
    margin: auto;
    display: block;
    background-image: url("../imagenes/pintura2.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: top right;
    animation: pinturas 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  #articulo__sobreMi div div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    #articulo__sobreMi div div img {
      width: 370px;
      margin-right: 5px;
      padding-bottom: 40px; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #articulo__sobreMi div div img {
          width: 300px;
          padding-bottom: 0%; } }
      @media screen and (min-width: 1024px) {
        #articulo__sobreMi div div img {
          width: 400px;
          padding-bottom: 0%; } }
    #articulo__sobreMi div div aside {
      width: 420px;
      font-size: 100%; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #articulo__sobreMi div div aside {
          width: 300px;
          font-size: 110%; } }
      @media screen and (min-width: 1024px) {
        #articulo__sobreMi div div aside {
          width: 400px;
          font-size: 150%; } }
    #articulo__sobreMi div div p {
      width: 420px;
      font-size: 100%; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #articulo__sobreMi div div p {
          width: 600px;
          font-size: 110%; } }
      @media screen and (min-width: 1024px) {
        #articulo__sobreMi div div p {
          width: 850px;
          font-size: 150%; } }

/* Estilos arte.html */
.articulo__arte {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .articulo__arte article h4 {
      font-size: 170%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .articulo__arte h3 {
      font-size: 230%; } }

#arte__body {
  display: grid;
  grid-template-rows: "div_procesos" "div_redes"; }

/* Trabajos en proceso */
.coleccion__arte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto; }
  .coleccion__arte img {
    width: 60%;
    padding: 6% 3%; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .coleccion__arte img {
        width: 25%; } }
  .coleccion__arte article {
    padding: 3%;
    margin: auto;
    width: fit-content; }
    .coleccion__arte article h4 {
      text-align: center;
      font-size: 100%; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        .coleccion__arte article h4 {
          text-align: center;
          font-size: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .coleccion__arte article {
        margin: auto;
        width: 50%; } }

.arte__descripcion {
  font-size: 50%;
  width: 50%;
  margin: auto; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .arte__descripcion {
      font-size: 80%; } }

#articulo__procesos {
  grid-area: div_procesos;
  border-top: groove 4px; }
  #articulo__procesos article {
    padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    #articulo__procesos {
      padding-top: 100px;
      padding-bottom: 100px; } }

/* Redes sociales */
#articulo__redes {
  grid-area: div_redes;
  border-bottom: groove 4px; }

/* Estilos galeria.html */
#articulo__galeria {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: groove 4px;
  border-bottom: groove 4px; }
  #articulo__galeria article {
    width: max-content; }
    @media screen and (min-width: 1024px) {
      #articulo__galeria article img:hover {
        width: 110%; } }
    @media screen and (min-width: 1024px) {
      #articulo__galeria article img {
        width: 100%;
        transition: width 2s;
        transition-timing-function: ease; } }
  #articulo__galeria p {
    padding: 50px; }
    #articulo__galeria p a {
      text-decoration: underline; }
  #articulo__galeria div {
    display: flex;
    align-items: flex-start;
    width: 70%;
    margin: auto;
    flex-wrap: wrap; }

/* Estilos contacto.html */
#articulo__contacto {
  text-align: left;
  padding-top: 5%;
  padding-bottom: 15%;
  width: 100%;
  margin: auto;
  border-top: groove 4px;
  border-bottom: groove 4px;
  display: flex;
  justify-content: space-around; }
  #articulo__contacto aside {
    padding: 2% 5%;
    margin: auto;
    margin-top: 70px;
    width: 90%;
    background-color: rgba(127, 255, 212, 0.25);
    border: solid 4px;
    border-style: inset;
    order: 2; }
    @media screen and (min-width: 1024px) {
      #articulo__contacto aside {
        width: auto;
        margin: 1%;
        order: 0;
        padding: 10% 5%; } }
  #articulo__contacto div {
    width: 90%;
    padding-top: 5%; }
    #articulo__contacto div h5 {
      font-size: 105%; }
    @media screen and (min-width: 1024px) {
      #articulo__contacto div {
        width: auto; } }

label {
  display: block; }

.boton {
  display: block;
  background-color: rgba(127, 255, 212, 0.25);
  padding: 15px;
  margin-top: 20px;
  font-size: 130%;
  font-family: 'Hubballi', cursive;
  transition: padding 2s;
  transition-timing-function: ease-out; }
  .boton:hover {
    padding: 25px; }
