/*Grid base*/

/*.globalGrid{
    display: grid;
    grid-template-areas:
    "header"
    "body"
    "footer"
    ;
}*/
/* Estilos del header */
.logo {
    width: 0px;
   }
header{
    width: 90%;
    grid-area: header;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-family: 'Woodland', sans-serif;
    background: linear-gradient(0deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0.75),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.10)
        ),url("../imagenes/Paleta.png");
    background-size:cover;
    background-position: center;
    text-shadow: 3px 3px 4px rgb(255, 255, 255);
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    justify-content: center;
    width: 60%;
    display: inline;
    list-style: none;
    font-size: 120%;
    white-space: nowrap;
    flex-shrink: 0.3;
}
header ul li{
    display: inline;
    padding:0% 3%;
    border-right: solid 1px;
}
.lista--ultimoElemento{
    border-right: none;
}
header ul li:hover{
    font-size: 102%;
    text-shadow: 7px 7px 5px rgb(255, 255, 255);
}
h1{
    font-size: 300%;
    display: inline;
}
.obra__logo:hover{
    text-shadow: 5px 5px 4px rgb(255, 255, 255);
    filter:drop-shadow(5px 5px 4px rgb(255, 255, 255));
}
/* Cuerpo de la pagina*/
.body{
    grid-area: body;
}
/* Estilos del footer */
footer{
    grid-area: footer;
    padding-top: 5%;
    background: linear-gradient(0deg,
        rgba(9, 1, 80, 0.5),
        rgba(9, 1, 80, 0.5),
        rgba(9, 1, 80, 0.35),
        rgba(9, 1, 80, 0.0),
        rgba(9, 1, 80, 0)
        );
    background-size:cover;
    background-position: center;
    align-items: center;
}
footer p{
    padding-left: 5%;
    padding-bottom: 1%;
}
footer span{
    padding-right: 2%;
    justify-items: right;
}
footer span a{
    padding: 4px;
}
/* Estilos links */
a{
    text-decoration: none;
    color: rgba(0, 0, 0,0.85);
}
a:hover{
   color: rgba(0, 0, 0,0.85);
}
/* Estilos generales de articulos */
article {
    font-family: 'Hubballi', cursive;
    font-size:150%;
    width: 100%;
    margin:auto;
    text-align: center;
}
article h3{
    padding: 50px;
    font-family: 'Woodland', cursive;
    font-size:180%;
    text-shadow: 1px 1px 2px white;
    display: inline;
    background-image: url(../imagenes/Pincelada-Naranja.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap;
}
article h2{
    font-family: 'Woodland', cursive;
    font-size:550%;
}
article h4{
    font-family: 'Woodland', cursive;
    font-size:90%;
    text-shadow: 2px 2px 5px rgb(117, 117, 117);
}
/* Estilos index (presentacion) */
.obra__index{
    padding-top:25%;
    padding-bottom: 30%;
    width: 100%;
    margin:auto;
}
.obra__cuadro{
    padding: 0%;
    margin: auto;
    transition: width 5s, margin 5s, padding 5s;
}
.obra__cuadro:active{
    width: 100%;
    padding: 0%;
}
.obra__curlyBracket{
    width: 35%;
    padding-bottom: 20px;
    margin: auto;
}
.obra__descripcion{
    padding: 2% 25%;
    text-align: center;
}
.obra__descripcion p{
    font-size: 80%;
    padding-top: 3%;
}
#obra-desayuno{
    background: linear-gradient(0deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0.75),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.75),
        rgba(255,255,255,1)
        ),url("../imagenes/Desayuno-sin-bordes.jpeg");
    background-size:cover;
    background-position: center;
}
#obra-festejo{
    background: linear-gradient(0deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0.75),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.75),
        rgba(255,255,255,1)
        ),url("../imagenes/Festejo-sin-bordes.jpeg");
    background-size:cover;
    background-position: center;
}
#obra-molino{
    background: linear-gradient(0deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0.75),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.75),
        rgba(255,255,255,1)
        ),url("../imagenes/Molino-sin-bordes.jpeg");
    background-size:cover;
    background-position: center;
}
.obra__index h3{
    background-image: none;
}
/* Estilos sobreMi.html */
#articulo__sobreMi{
    padding-bottom: 30%;
    background-image: url(../imagenes/pinceles.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom left;
    border-top:groove 4px;
    border-bottom: groove 4px;
    animation: pinceles 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#articulo__sobreMi h2{
    padding-top: 10%;
    padding-bottom: 15%;
    margin:auto;
    display: block;
    background-image:url("../imagenes/pintura2.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: top right;
    animation: pinturas 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#articulo__sobreMi div div img{
    margin-left: 18%;
    float:left;
}
#articulo__sobreMi div div aside{
    display: inline-block;
    width: 30%;
    font-size: 150%;
}
/* Estilos arte.html */
.articulo__arte{
    padding-top: 100px;
    padding-bottom: 100px;
}
#arte__body{
    display: grid;
    grid-template-rows:
    "div_procesos"
    "div_redes"
    ;
}

/* Trabajos en proceso */
.coleccion__arte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.coleccion__arte img{
    width: 60%;
    padding: 6% 3%;
}
.arte__descripcion{
    font-size: 50%;
    width: 50%;
    margin: auto;
}
#articulo__procesos{
    grid-area: div_procesos;
    border-top:groove 4px;
}
#articulo__procesos article{    
    padding-top: 50px;
}
/* Redes sociales */
#articulo__redes{
    grid-area: div_redes;
    border-bottom: groove 4px;
}

.coleccion__arte article h4{
    text-align: center;
    font-size: 100%;
}
.coleccion__arte article{
    padding: 3%;
    margin:auto;
    width: fit-content;
}
/* Estilos galeria.html */
#articulo__galeria{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top:groove 4px;
    border-bottom: groove 4px;
}
#articulo__galeria article{
    width: max-content;
}
#articulo__galeria p{
    padding: 50px;
}
#articulo__galeria p a{
    text-decoration:underline;
}
#articulo__galeria div{
    display: flex;
    align-items:flex-start;
    width: 70%;
    margin: auto;
}

/* Estilos contacto.html */
#articulo__contacto{
    text-align: left;
    padding-top: 5%;
    padding-bottom: 15%;
    width: 100%;
    margin: auto;
    border-top:groove 4px;
    border-bottom: groove 4px;

}
#articulo__contacto aside{
    padding: 10% 5%;
    margin: 4%;
    display: inline-block;
    background-color:rgba(127, 255, 212,0.25);
    border: solid 4px;
    border-style:inset;
}
#articulo__contacto div{
    padding-top: 5%;
    display: inline-block;
    margin-left: 2%;
}
label{
    display: block;
}
#articulo__contacto div h5{
    font-size: 105%;
}
.boton{
    display: block;
    background-color:rgba(127, 255, 212,0.25);
    padding: 15px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Hubballi', cursive;
    transition: padding 2s;
    transition-timing-function: ease-out;
}

.boton:hover{
    padding: 25px;
}

/* Media queries */

/* Formato tablet */
@media screen and (min-width: 768px){
    h1{
        font-size: 500%;
    }
    header ul{
        display: flex;
        list-style: none;
        font-size:200%;
        white-space: nowrap;
    }
    .articulo__arte article h4{
        font-size: 170%;
    }
    .articulo__arte h3{
        font-size: 230%;
    }
    .obra__descripcion h3{
        font-size: 205%;
    }
    .obra__descripcion p{
        font-size: 100%;
    }

    /* Estilos arte.html */
.coleccion__arte img{
    width: 25%;
}
.arte__descripcion{
    font-size: 80%;
}
/* Redes sociales */

.coleccion__arte article h4{
    text-align: center;
    font-size: 100%;
}
.coleccion__arte article{
    margin:auto;
    width: 30%;
}
}


/* Formato escritorio */
@media screen and (min-width: 1024px){
    h1{
        font-size: 900%;
        margin-bottom: 10%;
    }
    .logo {
        width: 75px;
        padding-left: 1%;
        filter:drop-shadow(2px 2px 4px rgb(255, 255, 255));
       }
    header{
        grid-area: header;
        padding-top: 1%;
        text-align: center;
        font-family: 'Woodland', sans-serif;
        background: linear-gradient(0deg,
            rgba(255,255,255,1),
            rgba(255,255,255,0.75),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.10)
            ),url("../imagenes/Paleta.png");
        background-size:cover;
        background-position: center;
        text-shadow: 3px 3px 4px rgb(255, 255, 255);
    }
    header nav{
        display: block;
        text-align: center;
    }
    header ul{
        margin: auto;
        list-style: none;
        font-size:250%;
        white-space: nowrap;
    }
    header ul li{
        display: inline-block;
        padding:0% 7%;
        border-right: solid;
    }
    .lista--ultimoElemento{
        border-right: none;
    }
    
    .obra__logo:hover{
        text-shadow: 5px 5px 4px rgb(255, 255, 255);
        filter:drop-shadow(5px 5px 4px rgb(255, 255, 255));
    }
    /* Estilos generales de articulos */
article {
    font-family: 'Hubballi', cursive;
    font-size:150%;
    width: 100%;
    margin:auto;
    text-align: center;
}

article h2{
    font-family: 'Woodland', cursive;
    font-size:550%;
}
article h4{
    font-family: 'Woodland', cursive;
    font-size:150%;
    text-shadow: 2px 2px 5px rgb(117, 117, 117);
}
/* Estilos index (presentacion) */
.obra__index{
    padding-top:25%;
    padding-bottom: 30%;
    width: 100%;
    margin:auto;
}
.obra__cuadro{
    padding: 10%;
    margin: auto;
}
.obra__descripcion{
    padding: 2% 25%;
    margin: auto;
    display: block;
    text-align: center;
}
/* Estilos arte.html */

/* Trabajos en proceso */
#articulo__procesos{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top:groove 4px;
}
#articulo__procesos article{    
    padding-top: 50px;
}
/* Animaciones*/
#articulo__galeria article img{
    width: 100%;
    transition: width 2s;
    transition-timing-function: ease;
}
#articulo__galeria article img:hover{
    width: 110%;
}
}

@keyframes pinturas {
    from{background-size: 35%;}
    to{background-size: 37%;}
}
@keyframes pinceles {
    from{background-size: 25%;}
    to{background-size: 30%;}
}





