@import "mediaQueries.scss";

$h1FontSizeMobile: 390%;
$h1FontSizeEscritorio: 900%;
$h1FontSizeTablet: 550%;
$h1FontSizeMobileMini: 250%;
$ulFontSizeMobile: 180%;
$ulFontSizeEscritorio: 250%;
$ulFontSizeTablet: 250%;
$ulFontSizeMobileMini: 130%;





h1{
    display: inline;
    font-size: $h1FontSizeMobile;
    @include tabletView{
        font-size: $h1FontSizeTablet;
    }
    @include desktopView{
        font-size: $h1FontSizeEscritorio;
        margin-bottom: 10%;
    }
    @include mobileMiniView{
        font-size: $h1FontSizeMobileMini;
    }
}


/* Estilos del header */
.logo {
    width: 0px;
    @include desktopView{
        width: 75px;
        padding-left: 1%;
        filter:drop-shadow(2px 2px 4px rgb(255, 255, 255));
    }
}
header{
    grid-area: header;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-family: 'Woodland', sans-serif;
    background: linear-gradient(0deg,
        rgba(255,255,255,1),
        rgba(255,255,255,0.75),
        rgba(255,255,255,0.50),
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.10)
        ),url("../imagenes/Paleta.png");
    background-size:cover;
    background-position: center;
    text-shadow: 3px 3px 4px rgb(255, 255, 255);
    nav{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;
        @include desktopView{
            display: block;
            text-align: center;
        }
    }
    ul{
        justify-content: center;
        width: 70%;
        display: flex;
        list-style: none;
        font-size: $ulFontSizeMobile;
        white-space: nowrap;
        flex-shrink: 0.3;
        margin: auto;
        @include mobileMiniView{
            font-size:$ulFontSizeMobileMini;
        }
        @include tabletView{
            font-size:$ulFontSizeTablet;
        }
        @include desktopView{
            margin: auto;
            list-style: none;
            padding-top: 3%;
            font-size:$ulFontSizeEscritorio;
        }
        li{
            display: inline;
            padding:0% 2%;
            border-right: solid 1px;
            &:hover{
                font-size: 102%;
                text-shadow: 7px 7px 5px rgb(255, 255, 255);
            }
            @include desktopView{
                display: inline-block;
                padding:0% 4%;
                border-right: solid;
            }
        }
    }
    @include desktopView{
        grid-area: header;
        padding-top: 1%;
        text-align: center;
        font-family: 'Woodland', sans-serif;
        background: linear-gradient(0deg,
            rgba(255,255,255,1),
            rgba(255,255,255,0.75),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.10)
            ),url("../imagenes/Paleta.png");
        background-size:cover;
        background-position: center;
        text-shadow: 3px 3px 4px rgb(255, 255, 255);
    }
    @include mobileMiniView{
        padding-top: 2%;
        padding-bottom: 2%;
    }
} 
.lista--ultimoElemento{
    border-right: none;
}

.obra__logo{
    &:hover{
        text-shadow: 5px 5px 4px rgb(255, 255, 255);
        filter:drop-shadow(5px 5px 4px rgb(255, 255, 255));
    }
}