$desktopWidth: 1024px;
$tabletWidth: 768px;
$mobileMiniWidth: 525px;

@mixin desktopView{
    @media screen and (min-width: ($desktopWidth)){
        @content;
    }
}
@mixin tabletView{
    @media screen and (min-width: $tabletWidth) and (max-width: ($desktopWidth)){
        @content;
    } 
}
@mixin mobileMiniView{
    @media screen and (max-width: ($mobileMiniWidth)){
        @content;
    }
}