@import "header.scss";
@import "footer.scss";
@import "keyframes.scss";


$articleFontSize: 150%;
$articleH3FontSize: 180%;
$articleH3Padding: 50px;
$articleH2FontSize:550%;
$articleH4FontSizeMobile:90%;
$obraIndexPaddingTop:25%;
$obraIndexPaddingBottom:30%;
$obraCurlyBracketWidth:35%;
$articleH4FontSizeDesktop: 150%;

$obras:(
    desayuno:"../imagenes/Desayuno-sin-bordes.jpeg",
    festejo: "../imagenes/Festejo-sin-bordes.jpeg",
    molino: "../imagenes/Molino-sin-bordes.jpeg"
);

@mixin obraStyle($urlImagen) {
    background: (linear-gradient(0deg,
            rgba(255,255,255,1),
            rgba(255,255,255,0.75),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.75),
            rgba(255,255,255,1)),url($urlImagen));
    background-size:cover;
    background-position: center;
}

@each $obra, $url in $obras {
    #obra-#{$obra}{
        @include obraStyle($url);
    }
}

/* Estilos links */
a{
    text-decoration: none;
    color: rgba(0, 0, 0,0.85);
    &:hover{
        color: rgba(0, 0, 0,0.85);
     }
}
/* Estilos generales de articulos */
article {
    font-family: 'Hubballi', cursive;
    font-size:$articleFontSize;
    width: 100%;
    margin:auto;
    text-align: center;
    h3{
        padding: $articleH3Padding;
        font-family: 'Woodland', cursive;
        font-size:$articleH3FontSize;
        text-shadow: 1px 1px 2px white;
        display: inline;
        background-image: url(../imagenes/Pincelada-Naranja.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        white-space: nowrap;
    }
    h2{
        font-family: 'Woodland', cursive;
        font-size:$articleH2FontSize;
    }
    h4{
        font-family: 'Woodland', cursive;
        font-size:$articleH4FontSizeMobile;
        text-shadow: 2px 2px 5px rgb(117, 117, 117);
        @include desktopView{
            font-size: $articleH4FontSizeDesktop;
        }
    }
}
/* Estilos index (presentacion) */
.obra__index{
    padding-top:$obraIndexPaddingTop;
    padding-bottom:$obraIndexPaddingBottom;
    width: 100%;
    margin:auto;
    h3{
        background-image: none;
    }
}
.obra__cuadro{
    padding: 0%;
    margin: auto;
    padding-bottom: 7%;
    transition: width 5s, margin 5s, padding 5s;
    &:active{
        width: 100%;
        padding: 0%;
    }
    @include desktopView{
        padding: 10%;
    }
}
.obra__curlyBracket{
    width: $obraCurlyBracketWidth;
    padding-bottom: 20px;
    margin: auto;
}
.obra__descripcion{
    padding: 2% 25%;
    text-align: center;
    p{
        font-size: 80%;
        padding-top: 3%;
        @include tabletView{
            font-size: 100%;
        }
        @include desktopView{
            font-size: 100%;
        }
    }
    h3{
        @include tabletView{
            font-size: 205%;
        }
        @include desktopView{
            font-size: 205%;
        }
    }
    @include desktopView{
        margin: auto;
        display: block;
        text-align: center;
    }
}
/* Estilos sobreMi.html */
#articulo__sobreMi{
    padding-bottom: 30%;
    background-image: url(../imagenes/pinceles.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom left;
    border-top:groove 4px;
    border-bottom: groove 4px;
    animation: pinceles 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    h2{
        padding-top: 10%;
        padding-bottom: 15%;
        margin:auto;
        display: block;
        background-image:url("../imagenes/pintura2.png");
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: top right;
        animation: pinturas 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    div{
        div{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            img{
                width: 370px;
                margin-right: 5px;
                padding-bottom: 40px;
                @include tabletView{
                    width: 300px;
                    padding-bottom: 0%;
                }
                @include desktopView{
                    width: 400px;
                    padding-bottom: 0%;
                }
            }
            aside{
                width: 420px;
                font-size: 100%;
                @include tabletView{
                    width: 300px;
                    font-size: 110%;
                }
                @include desktopView{
                    width: 400px;
                    font-size: 150%; 
                }
            }
            p{
                width: 420px;
                font-size: 100%;
                @include tabletView{
                    width: 600px;
                    font-size: 110%;
                }
                @include desktopView{
                    width: 850px;
                    font-size: 150%;
                }
            }
        }
    }

}
/* Estilos arte.html */
.articulo__arte{
    padding-top: 100px;
    padding-bottom: 100px;
    article{
        h4{
            @include tabletView{
                font-size: 170%;
            }
        }
    }
    h3{
        @include tabletView{
            font-size: 230%;
        }
    }
}
#arte__body{
    display: grid;
    grid-template-rows:
    "div_procesos"
    "div_redes"
    ;
}

/* Trabajos en proceso */
.coleccion__arte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    img{
        width: 60%;
        padding: 6% 3%;
        @include tabletView{
            width: 25%;
        }
    }
    article {
        padding: 3%;
        margin:auto;
        width: fit-content;
        h4{
            text-align: center;
            font-size: 100%;
            @include tabletView{
                text-align: center;
                font-size: 100%;
            }
        }
        @include tabletView{
            margin:auto;
            width: 50%;
        }
    }
}
.arte__descripcion{
    font-size: 50%;
    width: 50%;
    margin: auto;
    @include tabletView{
        font-size: 80%;
    }
}
#articulo__procesos{
    grid-area: div_procesos;
    border-top:groove 4px;
    article{    
        padding-top: 50px;
    }
    @include desktopView{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
/* Redes sociales */

#articulo__redes{
    grid-area: div_redes;
    border-bottom: groove 4px;
}

/* Estilos galeria.html */
#articulo__galeria{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top:groove 4px;
    border-bottom: groove 4px;
    article{
        width: max-content;
        img{
            &:hover{
                @include desktopView{
                    width: 110%;
                }    
            }
            @include desktopView{
                width: 100%;
                transition: width 2s;
                transition-timing-function: ease;
            }
        }
    }
    p{
        padding: 50px;
        a{
            text-decoration:underline;
        }
    }
    div{
        display: flex;
        align-items:flex-start;
        width: 70%;
        margin: auto;
        flex-wrap: wrap;
    }
}
/* Estilos contacto.html */
#articulo__contacto{
    text-align: left;
    padding-top: 5%;
    padding-bottom: 15%;
    width: 100%;
    margin: auto;
    border-top:groove 4px;
    border-bottom: groove 4px;
    display: flex;
    justify-content: space-around;
    aside{
        padding: 2% 5%;
        margin: auto;
        margin-top: 70px;
        width: 90%;
        background-color:rgba(127, 255, 212,0.25);
        border: solid 4px;
        border-style:inset;
        order: 2;
        @include desktopView{
            width: auto;
            margin: 1%;
            order: 0;
            padding: 10% 5%;
        }
    }
    div{
        width: 90%;
        padding-top: 5%;
        h5{
            font-size: 105%;
        }
        @include desktopView{
            width: auto;
        }
    }

}
label{
    display: block;
}
.boton{
    display: block;
    background-color:rgba(127, 255, 212,0.25);
    padding: 15px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Hubballi', cursive;
    transition: padding 2s;
    transition-timing-function: ease-out;
    &:hover{
        padding: 25px;
    }
}