@import "header.scss";
@import "footer.scss";
@import "keyframes.scss";


$articleFontSize: 150%;
$articleH3FontSize: 50px;
$articleH3FontSizeMobileMini: 40px;
$articleH3Padding: 60px;
$articleH2FontSize:550%;
$articleH2FontSizeMobile:450%;
$articleH2FontSizeMobileMini:350%;
$articleH4FontSizeMobile:90%;
$obraIndexPaddingTopMobileTablet:45%;
$obraIndexPaddingTopDesktop:25%;
$obraIndexPaddingBottom:30%;
$obraCurlyBracketWidth:35%;
$articleH4FontSizeDesktop: 150%;

$obras:(
    desayuno:"../imagenes/Desayuno.jpeg",
    festejo: "../imagenes/Festejo.jpeg",
    molino: "../imagenes/Molino.jpeg",
    ironman: "../imagenes/IronMan.jpeg",
    paisaje: "../imagenes/Paisaje.jpeg",
    jessicajones: "../imagenes/JessicaJones.jpeg",
    festejo-2: "../imagenes/Festejo-2.jpeg",

);

@mixin obraStyle($urlImagen) {
    background: (linear-gradient(0deg,
            rgba(255,255,255,1),
            rgba(255,255,255,0.75),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.75),
            rgba(255,255,255,1)),url($urlImagen));
    background-size:cover;
    background-position: center;
}

@each $obra, $url in $obras {
    #obra-#{$obra}{
        @include obraStyle($url);
    }
}

/* Estilos links */
a{
    text-decoration: none;
    color: rgba(0, 0, 0,0.85);
    &:hover{
        color: rgba(0, 0, 0,0.85);
     }
}
/* Estilos generales de articulos */
article {
    font-family: 'Hubballi', cursive;
    font-size:$articleFontSize;
    width: 100%;
    margin:auto;
    text-align: center;
    h3{
        padding: $articleH3Padding;
        font-family: 'Woodland', cursive;
        font-size:$articleH3FontSize;
        text-shadow: 1px 1px 2px white;
        display: inline;
        background-image: url(../imagenes/Pincelada-Naranja.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        white-space: nowrap;
        @include mobileMiniView{
            font-size: $articleH3FontSizeMobileMini;
        }
    }
    h2{
        font-family: 'Woodland', cursive;
        font-size:$articleH2FontSizeMobile;
        padding-top: 10%;
        padding-bottom: 8%;
        @include mobileMiniView{
            font-size: $articleH2FontSizeMobileMini;
        }
        @include tabletView{
            font-size: $articleH2FontSize;
        }
        @include desktopView{
            font-size: $articleH2FontSize;
        }
    }
    h4{
        font-family: 'Woodland', cursive;
        font-size:$articleH4FontSizeMobile;
        text-shadow: 2px 2px 5px rgb(117, 117, 117);
        @include desktopView{
            font-size: $articleH4FontSizeDesktop;
        }
    }
}
/* Estilos index (presentacion) */
.obra__index{
    padding-top:$obraIndexPaddingTopMobileTablet;
    padding-bottom:$obraIndexPaddingBottom;
    width: 100%;
    margin:auto;
    h3{
        background-image: none;
    }
    @include desktopView{
        padding-top: $obraIndexPaddingTopDesktop;
    }
}
.obra__cuadro__div{
    margin: auto;
    padding: 10%;
    padding-bottom: 7%;
    transition: width 5s, margin 5s, padding 5s;
    @include desktopView{
        padding: 20%;
        padding-bottom: 7%;
    }
    &:active{
        margin: auto;
        padding: 0%;
        width: 100%;
    }
}
.obra__cuadro{
    transition: width 5s, margin 5s, padding 5s;
    background: white;
    padding: 2px;
    @include tabletView{
        padding: 4px;
    }
    @include desktopView{
        padding: 7px;
    }
    &:active{
        width: 100%;
        margin: 0%;
        .obra__cuadro__div{
            margin: auto;
            padding: 0%;
            width: 100%;
        }
    }
}
.obra__curlyBracket{
    width: $obraCurlyBracketWidth;
    padding-bottom: 20px;
    margin: auto;
}
.obra__descripcion{
    padding: 2% 15%;
    text-align: center;
    p{
        font-size: 80%;
        padding-top: 5%;
        @include tabletView{
            font-size: 100%;
        }
        @include desktopView{
            font-size: 100%;
        }
    }
    h3{
        @include tabletView{
            font-size: 205%;
        }
        @include desktopView{
            font-size: 205%;
        }
    }
    @include desktopView{
        margin: auto;
        display: block;
        text-align: center;
    }
}
/* Estilos sobreMi.html */
#articulo__sobreMi{
    padding-bottom: 30%;
    background: linear-gradient(0deg,
            rgba(255,255,255,0.25),
            rgba(255,255,255,0.5)
            ),url(../imagenes/pinceles.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom left;
    border-top:groove 4px;
    border-bottom: groove 4px;
    animation: pinceles 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    h2{
        margin:auto;
        display: block;
        background: linear-gradient(0deg,
            rgba(255,255,255,1),
            rgba(255,255,255,0.75),
            rgba(255,255,255,0.50),
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.10)
            ),url("../imagenes/pintura2.png");
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: top right;
        animation: pinturas 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    div{
        div{
            margin: auto;
            justify-content: center;
            img{
                width: 270px;
                padding:8% 0%;
                @include tabletView{
                    width: 300px;
                }
                @include desktopView{
                    width: 400px;
                }
                @include mobileMiniView{
                    width: 240px;
                }
            }
            p{
                margin: auto;
                width: 420px;
                font-size: 100%;
                margin-bottom: 15%;
                @include tabletView{
                    width: 600px;
                    font-size: 110%;
                }
                @include desktopView{
                    width: 850px;
                    font-size: 120%;
                }
                @include mobileMiniView{
                    width: 300px;
                    font-size: 80%;
                }
            }
        }
    }

}
/* Estilos arte.html */
#arte__body{
    display: grid;
    grid-template-rows:
    "div_procesos"
    "div_redes"
    ;
}

/* Pintura y trabajos en proceso */
#articulo__pintura{
    grid-area: div_procesos;
    border-top:groove 4px;
    article{    
        padding-top: 70px;
    }
}
.coleccion__arte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 5% 0%;
    img{
        width: 60%;
        padding: 6% 3%;
        @include tabletView{
            width: 40%;
        }
        @include desktopView{
            width: 35%;
        }
    }
    article {
        padding: 3%;
        margin:auto;
        width: auto;
        h4{
            text-align: center;
            font-size: 100%;
        }
        @include tabletView{
            width: 50%;
        }
        @include desktopView{
            width: 50%;
        }
    }
    @include desktopView{
        width: 80%;
    }
}
.arte__descripcion{
    font-size: 50%;
    width: 60%;
    margin: auto;
    @include tabletView{
        font-size: 60%;
    }
    @include desktopView{
        font-size: 70%;
    }
}

/* Redes sociales */

#articulo__redes{
    grid-area: div_redes;
    border-bottom: groove 4px;
}

/* Estilos galeria.html */
#articulo__galeria{
    padding-bottom: 100px;
    border-top:groove 4px;
    border-bottom: groove 4px;
    article{
        width: auto;
        img{
            width: 80%;
            padding:0% 3%;
            &:hover{
                @include desktopView{
                    width: 110%;
                }    
            }
            @include tabletView{
                width: 100%;
            }
            @include desktopView{
                width: 100%;
                transition: width 2s;
                transition-timing-function: ease;
            }
        }
    }
    p{
        padding: 50px;
        @include mobileMiniView{
            font-size: 80%;
        }
        a{
            text-decoration:underline;
        }
    }
    div{
        display: flex;
        align-items:flex-start;
        margin: auto;
        flex-wrap: wrap;
        width: 100%;
        @include tabletView{
            width: 70%;
        }
        @include desktopView{
            width: 70%;
        }
    }
}
/* Estilos contacto.html */
#articulo__contacto{
    text-align: left;
    padding-bottom: 15%;
    width: 100%;
    margin: auto;
    border-top:groove 4px;
    border-bottom: groove 4px;
    display: flex;
    justify-content: space-around;
    aside{
        padding: 2% 5%;
        margin: auto;
        margin-top: 70px;
        width: 90%;
        background-color:rgba(127, 255, 212,0.25);
        border: solid 4px;
        border-style:inset;
        order: 2;
        @include desktopView{
            width: auto;
            margin: 1%;
            order: 0;
            padding: 10% 5%;
        }
    }
    div{
        width: 90%;
        padding-top: 5%;
        font-size: 80%;
        h5{
            @include tabletView{
                font-size: 100%;
            }
            @include desktopView{
                font-size: 105%;
            } 
        }
        @include tabletView{
            font-size: 95%;
        }
        @include desktopView{
            font-size: 100%;
            width: auto;
        }
    }
    h2{
        text-align: center;
    }
    p{
        @include mobileMiniView{
            font-size: 80%;
        }
    }


}
label{
    display: block;
}
.boton{
    display: block;
    background-color:rgba(127, 255, 212,0.25);
    padding: 15px;
    margin-top: 20px;
    font-size: 130%;
    font-family: 'Hubballi', cursive;
    transition: padding 2s;
    transition-timing-function: ease-out;
    &:hover{
        padding: 25px;
    }
}